@{
    ViewBag.Title = "Home Page";
}
<script>
    document.location = 'Account/LogOn';
</script>
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit11111 <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
